body {
    background-color: #0F0F0F;
}

#search-query {
    width: 200px;
    position: absolute;
    top: 240px;
    left: 320px;
}

#left, #center, #right {
    font-weight: bold;
    font-size: 18px;
    font-family: DejaVu Sans Mono;
    width: 100px;
    line-height: 32px;
    position: absolute;
    top: 320px;
}

#left {
    left: 300px;
}

#center {
    left: 600px;
}

#right {
    left: 900px;
}

#left, #center, #right, ul a:link,
#left, #center, #right, ul a:visited {
    color: #6B6B6B;
    text-decoration: none;
}

#left, #center, #right, ul a:hover {
    color: #8D8D8D;
    text-decoration: none;
}

h1 {
    color: #DDDDDD;
}

h1 a:link, a:visited {
    color: #1b83af;
    text-decoration: none;
}

h1 a:hover {
    color: rgba(82, 168, 224, 0.95);
}

#reddit-header, #sweclockers-header, #youtube-header {
    font-family: DejaVu Sans Mono;
    font-size: 28px;
}

#reddit-header {
    position: absolute;
    top: 260px;
    left: 330px;
}

#sweclockers-header {
    /*text-align: center;*/
    position: absolute;
    top: 260px;
    left: 588px;
}

#youtube-header {
    position: absolute;
    top: 260px;
    left: 930px;
}

#bottom-row {
    font-family: DejaVu Sans Mono;
    font-size: 16px;
    padding-left: 130px;
    position: absolute;
    top: 590px;
}

#bottom-row ul li {
    list-style-type: none;
    margin: 0px 50px;
    float: left;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;

}

#bottom-row a {
    transition: width 2s;
    -moz-transition: width 2s;
    -webkit-transition: width 2s;
    -o-transition: width 2s;
}

#bottom-row a:link, #bottom-row a:visited {
    color: #b5182b;
}

#bottom-row a:hover {
    color: #7a0e38;
}

.dropbutton {
   background-color: #202020;
   color: #D9D9D9;
   padding: 10px 40px;
   font-size: 16px;
   border: none;
   font-family: DejaVu Sans Mono;
}

.dropbutton:hover {
    background: #FF0000;
}

.dropdown-content {
   font-family: DejaVu Sans Mono;
   display: none;
   position: absolute;
   background-color: #6B6B6B;
   min-width: 123px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown-content a:hover {
    background-color: #8D8D8D
}

.show {
    display: block;
}
