body {
    background-color: #0F0F0F;
}

input[type="text"] {
    display: block;
    text-align: center;
    margin: 12.5% auto;
    padding: 3px;
    width: 50%;
}

ul {
    list-style-type: none;
}

.header-links {

}

.header-links li {
    float: left;
}

.header-links ul {
    display: inline-block;
}

.header-links h1 {
    font-family: DejaVu Sans Mono;
    font-size: 28px;
    bottom: 50%;
}

.header-links #reddit-header {
    text-align: left;
    position: absolute;
    width: 0%;
    left: 25%;
}

.header-links #sweclockers-header {
    text-align: center;
    position: absolute;
    top: auto;
    padding-left: 0;
}

.header-links #youtube-header {
    text-align: right;
    position: absolute;
    width: 25%;
    left: 0%;
}

.header-links h1 a:link,
.header-links h1 a:visited {
    color: #1b83af;
    text-decoration: none;
}

.header-links h1 a:hover {
    color: rgba(82, 168, 224, 0.95);
}

#bottom-row {
    font-family: DejaVu Sans Mono;
    font-size: 16px;
    position: absolute;
    top: 91%;
    left: 20%;
}

#bottom-row ul li {
    list-style-type: none;
    margin: 0px 50px;
    float: left;
}

#bottom-row a:link, #bottom-row a:visited {
    color: #b5182b;
}

#bottom-row a:hover {
    color: #62111b;
}
